<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main >
        <section class="secCarrito">
            <div>
            
                <h2 class="carrTitulo">Carrito de compras</h2>

                <article class="carrito">
                    
                    <div class="prod">
                        <img src="/images/campera_quehuar_6_dama_imagen1.jpg" alt="campera-dama">
                    </div>
                    
                    <div class="desc">
                        <p class="n">Campera Quehuar 6</p>
                        <p>Color: Verde</p>
                        <p>Talle: M</p>
                        <p>$55.200</p>

                        <div class="carrbotones">

                            <button class="carrmenos" type="button">
                                <i class="fa-solid fa-minus"></i>
                            </button>

                            <input class="cantidad" id="cantidad" type="text" value="1">

                            <button class="carrmas" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>

                            <div class="carrBas"> 
                                <i class="fa-solid fa-trash"></i>
                            </div>
                            
                        </div>
                    </div>
                </article>

                <article class="carrCompra">

                    <h3>Total: $55.200</h3>

                    <div>    
                        
                        <a href="#"><button class="carrTrash botonesCarrito" type="menu">
                            <i class="fa-solid fa-trash"></i>Limpiar carrito</button>
                        </a> 

                    </div>

                    <div>
                        <a href="#"><button class="carrReturn botonesCarrito" type="menu">
                            <i class="fa-solid fa-reply"></i>Seguir comprando</button>
                        </a> 
                    </div>

                    <div>
                        <a href="#"><button class="carrFin botonesCarrito" type="submit">Finalizar compra</button></a> 
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>      
</body>
</html>