<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main >
    
        <div class="modal" id="jsModalCarrito">
            <div class="modal__container">
                <a href="/product/producto"><button type="button" class="modal__close fa-solid fa-xmark jsModalClose "></button></a>

                <div class="modal__info">
                    <div class="modal__header">
                        <h2><i class="fa-solid fa-cart-shopping"></i>Carrito</h2>
                    </div>

                    <div class="modal__body">
                        <div class="modal__list">
                            <div class="modal__item">
                                <div class="modal__thumb">
                                    <img class= "campTheNorth" src="/images/productoBeige.jpg" alt="campera">
                                </div>
                                <div class="modal__text-product">
                                    <p>Campera The North Face</p>
                                    <p><strong>$150.000</strong></p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal__footer">
                        <div class="modal__list-price">
                            <ul>
                                <li>Subtotal: <strong>$150.000</strong></li>
                                <li>Descuento: <strong>$0.00</strong></li>
                            </ul>
                            <h4 class="modal__total-cart"> Total: $150.00</h4>
                        </div>

                        <div class="modal__btns">
                            <a href="#" class="btn-primary">Comprar Ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </main>
    <%- include('../partials/footer') %>     
    <script src="js/carrito.js"></script> 
</body>
</html>