<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main >
    
        <div class="modal" id="jsModalCarrito">
            <div class="modal__container">
                <a href="/product/productos"><button type="button" class="modal__close fa-solid fa-xmark jsModalClose "></button></a>

                <div class="modal__info">
                    <div class="modal__header">
                        <h2><i class="fa-solid fa-cart-shopping"></i>Carrito</h2>
                    </div>
                    <div id="articulosCarrito">
                        
                    </div>
                    <div class="modal__footer">
                        
                    </div>
                </div>
            </div>
        </div> 

    </main>
    <%- include('../partials/footer') %>     
    <script src="/js/carrito.js"></script> 
</body>
</html>