<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <main class="mainEdicion">
        <form class="edicion-form" action="/product/producto/:id" method="GET" >
            <h5>Edición de producto</h5>
            <div class="buscaEdit">
                <label class= "codProd" for="codigo"> Buscar producto por código</label>
                <input type="text" name="codigo" id ="codigo" placeholder="  Codigo de producto" >
                <button class="buscadorEdicion" type="submit">
                    <i id="lupa-edicion" class="fa-solid fa-magnifying-glass"></i>
                </button>                
            </div>
        </form>
        <form class="edicion-form" action="/product/producto/:id/edit" method="POST" >
            <div>
                <input type="text" name="nombre" value="<%= "  " + prod.nombre%>" placeholder="  Nombre del producto" >
            </div>
            <div>
                <textarea name="textarea" placeholder=" Descipcion del producto" ><%=" "+prod.descripcion%></textarea>
            </div>
            <div class="imagenesEdicion">
                <p>Imagenes del producto</p>
                <input type="file" name="img" accept=".png, .jpg, .jpeg" multiple>
            </div>           
            <div class="categoriaEdicion">
                <p>Categorías</p>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="abrigos" value="abrigos" id="abrigos">
                    <label for="Abrigos">Abrigos</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="pantalones" value="pantalones" id="pantalones">
                    <label for="Pantalones">Pantalones</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="calzado" value="calzado" id="calzado">
                    <label for="Calzado">Calzado</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="camping" value="camping" id="camping">
                    <label for="Camping">Camping</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="mochilas" value="mochilas" id="mochilas">
                    <label for="Mochilas">Mochilas</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="accesorios" value="accesorios" id="accesorios">
                    <label for="Accesorios">Accesorios</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="mujer" value="mujer" id="mujer">
                    <label for="Mujer">Mujer</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="hombre" value="hombre" id="hombre">
                    <label for="Hombre">Hombre</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="niño" value="niño" id="niño">
                    <label for="Niño">Niño</label>
                </div>
            </div> 
            <div class="precioEdicion">
                <input type="number" name="precio" value="<%=prod.precio%>" placeholder="  Precio del producto">
            </div>           
            <div class="botonesEdicion">
                <div>
                    <button class="botones botonGuardar" type="submit" name="guardar" value="Guardar">Guardar</button>
                </div>
                <div>
                    <button class="botones botonEliminar" type="submit" name="eliminar" value="eliminar">Eliminar</button>
                </div>
                <div>
                    <a href="creacion"><button class="botones botonBuscar" type="button" >Crear</button></a>
                </div>
                <div>
                    <a href="/"><button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button></a>
                </div> 
            </div>               
        </form>
    </main>
</body>
</html>
