<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="mainEdicion">
        <form class="edicion-form" action="/product/buscar" method="POST" >
            <h5>Edición de producto</h5>
            <div class="buscaEdit">
                <label class= "codProd" for="codigo"> Buscar nombre del producto</label>
                <input type="text" name="texto" id ="codigo" placeholder="  Codigo de producto" >
                <button class="buscadorEdicion" type="submit">
                    <i id="lupa-edicion" class="fa-solid fa-magnifying-glass"></i>
                </button>                
            </div>
        </form>
    </main> 
    <%- include('../partials/footer') %>
    
</body>
</html>



