<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="container-title">Campera M THERMOBALL ECO SNOW TRICLIMATE</div>

    <main>
        <div class="container-img">
            <img src="\images\productoBeige.jpg" alt="imagen-producto" />
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$150.000</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value="">
                            Elegí una opción
                        </option>
                        <option value="unico">Único</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Talla</label>
                    <select name="size" id="size">
                        <option disabled selected value="">
                            Elegí una opción
                        </option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                <button class="btn-clean">Eliminar</button>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input
                        type="number"
                        placeholder="1"
                        value="1"
                        min="1"
                        class="input-quantity"
                    />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>
                        Impermeable por fuera. Cálido por dentro. La chaqueta ThermoBall™ Eco Snow Triclimate para hombre es una campera multiusos para deportes de nieve que te permite personalizar tus capas según las condiciones. Con DryVent™ 100% reciclado y dos aislamientos sintéticos diferentes, estará cómodo desde el ascensor hasta el alojamiento.
                    </p>
                </div>
            </div>


    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    <script src="/js/producto.js"></script>
        </main>
    
    <%- include('../partials/footer') %>          
</body>
</html>