<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head') %>
<%-include('../partials/header')%>
<body>
    <main class="mainProductos">
        <h3 id="tituloProduct">Productos</h3>
        <article>
        <div class="imagenesProd">
            <img src="/images/1809trekkingcalzado-1034715.png" alt = "imgcalzado">
            <h4> Botas de trekking</h4>
            <p class="precio">$ 150.000 </p>
        </div>
        </article>
        <article>
        <div class="imagenesProd">
            <img src="/images/camiseta_ares_26_imagen1.png" alt="imgcamiseta">
        </div>
        </article>
        <article>
            <div class="imagenesProd">
            <img src="/images/guide_34_escalada_imagen1.png" alt="imgbolsa">
            </div>
        </article>
        <article>
        <div class="imagenesProd">
            <img src="/images/pantalon_nea_3_gore_tex_2c_performance_shell_nino_imagen3.png" alt="imgpantalon">
        </div>
        </article>
</main>    
</body>

<%-include('../partials/footer')%>

</html>