<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>       
        <section class="producto">
            <article class="producto-elejido">
                <div>
                    <div id="encabezadoProducto">
                        <h3>The North Face</h3>
                        <p>Campera M THERMOBALL ECO SNOW TRICLIMATE</p>
                    </div>
                    
                    <div class="producto-imagenes">
                        <img src="\images\productoBeige.jpg">    
                    </div>
                    <div class="producto-info">
                        <h2>$7899.99</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consectetur dignissimos m!</p>
                        <button class="producto-boton" type="submit" >Agregar al Carrito</button>

                    </div>     
                    <div class="producto-descripcion">
                        <h3>DESCRIPCION DEL PRODUCTO</h3>
                        <ul>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                            <li>Característica</li>
                        </ul>

                    </div>  
                </div> 
                
                </div> 
            </article>            
        </section>
    </main>
    <%- include('../partials/footer') %>          
</body>
</html>