<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href = "/css/styles.css" rel = "stylesheet"> 
    <title>PATAGONIC</title>
    <link rel="shortcut icon" href="/images/Logo-Patagonic-sin-fondo.jpg">
</head>
<body>
    <main class="mainEdicion">
        <form class="edicion-form" action="" method="GET" >
            <h5>Edición y creación de producto</h5>
            <div>
                <input type="text" name="codigo" value="codigo" placeholder="Codigo de producto">
            </div>
            <div>
                <input type="text" name="nombre" value="nombre" placeholder="Nombre del producto">
            </div>
            <div>
                <textarea name="textarea" placeholder="Descipcion del producto"></textarea>
            </div>
            <div>
                <p>Imagen del producto</p>
                <input type="file" name="img" value="img" accept=".png, .jpg, .jpeg">
            </div>
            <div>
                <input type="text" name="categoria" value="categoria" placeholder=" Categoria">
            </div>
            <div>
                <input type="number" name="precio" value="precio" placeholder="Precio del producto">
            </div>
            <div class="primerBoton">
                <button class="botones botonNuevo" type="submit" name="nuevo" value="nuevo">Nuevo</button>
            </div>
            <div>
                <button class="botones botonGuardar" type="button" name="guardar" value="Guardar">Guardar</button>
            </div>
            <div>
                <button class="botones botonBuscar" type="button" name="buscar" value="buscar">Buscar</button>
            </div>
            <div>
                <button class="botones botonEliminar" type="reset" name="eliminar" value="eliminar">Eliminar</button>
            </div>
            <div>
                <button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button>
            </div>    
        </form>
    </main>
</body>
</html>
