<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href = "/css/styles.css" rel = "stylesheet"> 
    <title>PATAGONIC</title>
    <link rel="shortcut icon" href="/images/Logo-Patagonic-sin-fondo.jpg">
</head>
<body>
    <main class="mainEdicion">
        <form class="edicion-form" action="" method="GET" >
            <h5>Edición y creación de producto</h5>
            <div>
                <input type="text" name="codigo" placeholder="Codigo de producto">
            </div>
            <div>
                <input type="text" name="nombre" placeholder="Nombre del producto">
            </div>
            <div>
                <textarea name="textarea" placeholder="Descipcion del producto"></textarea>
            </div>
            <div class="imagenesEdicion">
                <p>Imagenes del producto</p>
                <input type="file" name="img" accept=".png, .jpg, .jpeg" multiple>
            </div>           
            <div class="categoriaEdicion">
                <p>Categorías</p>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="abrigos" value="abrigos" id="abrigos">
                    <label for="Abrigos">Abrigos</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="pantalones" value="pantalones" id="pantalones">
                    <label for="Pantalones">Pantalones</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="calzado" value="calzado" id="calzado">
                    <label for="Calzado">Calzado</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="camping" value="camping" id="camping">
                    <label for="Camping">Camping</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="mochilas" value="mochilas" id="mochilas">
                    <label for="Mochilas">Mochilas</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="accesorios" value="accesorios" id="accesorios">
                    <label for="Accesorios">Accesorios</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="mujer" value="mujer" id="mujer">
                    <label for="Mujer">Mujer</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="hombre" value="hombre" id="hombre">
                    <label for="Hombre">Hombre</label>
                </div>
                <div class="checkboxEdicion">
                    <input type="checkbox" name="niño" value="niño" id="niño">
                    <label for="Niño">Niño</label>
                </div>
            </div> 
            <div class="precioEdicion">
                <input type="number" name="precio" value="precio" placeholder="Precio del producto">
            </div>           
            <div class="botonesEdicion">
                <div>
                    <button class="botones botonNuevo" type="reset" name="nuevo" value="nuevo">Nuevo</button>
                </div>
                <div>
                    <button class="botones botonGuardar" type="submit" name="guardar" value="Guardar">Guardar</button>
                </div>
                <div>
                    <button class="botones botonBuscar" type="button" name="buscar" value="buscar">Buscar</button>
                </div>
                <div>
                    <button class="botones botonEliminar" type="reset" name="eliminar" value="eliminar">Eliminar</button>
                </div>
                <div>
                    <a href="/home.html"><button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button></a>
                </div> 
            </div>               
        </form>
    </main>
</body>
</html>
