<body>
    <main class="mainEdicion">
        <form class="edicion-form" action="" method="GET" >
            <h5>Edición y creación de producto</h5>
            <div>
                <input type="text" name="codigo" value="codigo" placeholder="Codigo de producto">
            </div>
            <div>
                <input type="text" name="nombre" value="nombre" placeholder="Nombre del producto">
            </div>
            <div>
                <textarea name="textarea" placeholder="Descipcion del producto"></textarea>
            </div>
            <div>
                <p>Imagen del producto</p>
                <input type="file" name="img" value="img" accept="image/png,.jpg">
            </div>
            <div>
                <input type="text" name="categoria" value="categoria" placeholder=" Categoria">
            </div>
            <div>
                <input type="number" name="precio" value="precio" placeholder="Precio del producto">
            </div>
            <div>
                <button class="botones botonNuevo" type="submit" name="nuevo" value="nuevo">Nuevo</button>
            </div>
            <div>
                <button class="botones botonGuardar" type="button" name="guardar" value="Guardar">Guardar</button>
            </div>
            <div>
                <button class="botones botonBuscar" type="button" name="buscar" value="buscar">Buscar</button>
            </div>
            <div>
                <button class="botones botonEliminar" type="reset" name="eliminar" value="eliminar">Eliminar</button>
            </div>
            <div>
                <button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button>
            </div>    
        </form>
    </main>
