<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="public\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <form>
        <p>
            <label> Nombre completo </label>
            <input type="text" name="nombreUsuario" required>
        </p>
        <p>
            <label> Contraseña </label>
            <input type="password" name="passwordUsuario" required>
        </p>
        <p>
            <label for="correo electronico"></label>
            <input type="email" name="emailUsuario" required>
        </p>
        <button type="submit"> Enviar </button>
        ><button type="reset"> Cancelar </button>
    </form>
</body>
</html>