<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/images/Logo Patagonic sin fondo.jpg"
</head>
<body>
    <section class="formulario">
        <h5>Patagonic</h5>
        <input class="control" type="email" name="email" value="" placeholder="email">
        <input class="control" type="password" name="password" value="" placeholder="password">
        <input class="boton" type="submit" name="" value="Ingresar">
        <p><a href="#">Registrarse/¿Olvidaste tu contraseña?</a></p>
        
    </section>   
</body>
</html>