/* ----- carrito -----*/

.carrTitulo {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 26px;
    font-style: oblique;
}

.secCarrito {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding: 20px 30px;
    color: whitesmoke;
    max-width: 650px;
}

.carrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 1px #666;
    box-shadow: 7px 13px 38px #000;
    background: #497330;

}

body section article .prod {
    display: flex;
    width: 150px;
    height: 180px;
}

body section article div p{
    display: flex;
    margin: 4px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    color: rgb(245, 245, 245);
}

.desc .n {
    font-weight: bold;
    color: white;
    padding-bottom: 5px;
}

.cantidad {
    text-align: center;
    width: 45px;
    border: solid 1px #666;
    border-radius: 5%;
}

.carrbotones {
    display: flex;
    margin: 4px;
    padding-top: 5px;
}

.carrmenos {
    border: solid 1px #666;
    border-radius: 5%;
    background: white;
}

.carrmas {
    border: solid 1px #666;
    border-radius: 5%;
    background: white;
}

.carrBas {
    display: flex;
    margin-bottom: 2px;
    margin-left: 10px;
}

.carrCompra {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: none;
    box-shadow: none;
    margin: 10px;
    color:  whitesmoke;
}

.carrCompra div {
    width: 100%;
    text-align: center;
}

body section article h3 {
    text-align: center;
}

.fa-solid.fa-trash {
    margin-top: 4.5px;
    margin-right: 5px;
}

.fa-solid.fa-reply {
    margin-top: 4.5px;
    margin-right: 5px;
}

.carrFin:hover, .carrTrash:hover, .carrReturn:hover {
    background-color:#c79430;
}

.botonesCarrito {
    text-align: center;
    width: 70%;
    height: 40px;
    background: rgb(18, 94, 18);
    border: none;
    color: whitesmoke;
    transition: all 1000ms;
}