.mainEdicion {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f4f4c1;
}

.mainEdicionDelete {
    padding: 60px 0;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 3/1;
    background-color: #f5f4f4c1;
}

.deleteBoton {
    display: block;
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.botEnter {
    display: block;
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.buscaEdit {
    position: relative;
    
}

.buscaEdit input{
    margin-top: 5px;
}
.buscadorEdicion {
    position: absolute;
    background-color: #232c1c;
    right: 25px;
    bottom: 22px;

}

#lupa-edicion {
    color: #c79430;
    font-size: 20px;
} 

#edicionInvisible {
    display: none;
}

.divDeleteProducto {
    top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .botonDelete{
    display: flex;
    justify-content: space-between;
  }

.edicion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px 30px;
    max-width:650px;
    font-family: 'Montserrat';
    border-radius: 8px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    background-color: #fff;
}

.botEditar {
    display: block;
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.edicion-form h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 17px;
    color: #000000;
}

.mainEdicion .edicion-form div {
    width: 90%;
    text-align: center;
}

.mainEdicion .edicion-form input, .mainEdicion .edicion-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 0;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Montserrat';
    border: 1px solid #000000;
}

#textarea {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 0;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #c79430;
}

.mainEdicion .edicion-form .imagenesEdicion .tituloImag {
    height: 40px;
    font-size: 17px;
    text-align: center;
    margin: 0;
}

.mainEdicion .edicion-form .categoriaEdicion label {
    font-size: 14px;
    text-align: center;
}

.mainEdicion .edicion-form .categoriaEdicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
}

.form-usu {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    margin-bottom: 30px;
}

.form-usu:hover {
    border-color: #999;
}

.mainEdicion .edicion-form .categoriaEdicion .category {
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 10px;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion {
    display: flex;    
    width: 33.33%;
    min-width: 110px;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion label {
    font-size: 14px;
    text-align: left;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion input[type="checkbox"] {
    width: 25px;
    text-align: left;
}

.mainEdicion .edicion-form .precioEdicion {
    display: flex;
    justify-content: center;
    padding-top: 20px; 
    width: 100%;
}

#imagenesExistentes {    
    max-width: 100px;
}

#parrafoFotos{
    border: none;
    font-size: 12px;
    margin: 0;
    padding: 0 0 5px 5px;
    max-height: 12px;
    text-align: left;
    margin: 20px;
}

#fotosProd {
    width: 25px;
    padding: 0 1.5px;
}

#archivosImagenesProd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

#conFotos {
    width:75%;
}

.mainEdicion .edicion-form input[type="file"] {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 0;
    font-size: 14px;
    font-weight: lighter;
    color: #808080;
    border-radius: 8px;
}

.mainEdicion .edicion-form input[type="file"]::before {
    content: "   ";
}

.mainEdicion .edicion-form input[type="number"] {
    width: 25%;
    min-width: 125px;
    text-align: center;
    border: 1px solid #000000;
}

#divBotonesEdicion{
    width: 100%;
}

.mainEdicion .edicion-form .botonesEdicion {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border-top: 1px solid;
}

.mainEdicion .edicion-form .botonesEdicion div {
    width: 90%;
    margin-top: 16px;
}


.mainEdicion .edicion-form .botonesEdicion .botones {
    width: 100%;
    height: 40px;
    background: #EBB54B;
    color: white;
    margin: 0 0 15px 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.mainEdicion .edicion-form .botonesEdicion .botones:hover{
    background-color: #efac2f;
}

.login-form p {
    
    text-align: center;
   /* border-bottom: 1px solid; */
}

div.botonDeleteProd {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: auto;
    padding: 15px 30px 0px 30px;
    color: whitesmoke;
    max-width:650px;
}

form.deleteProdForm {
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botonDeleteProd{
    display: flex;
    justify-content: center;
}

#deleteProdForm {
    width: 70%;
}

button.botonEliminar {
    display: block;
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

button.botonEliminar:hover{
    background-color: #c79430;
}

.labelCategorias{
    justify-content: center;
}

.form-cat {
    width: 100%;
    height: 175px;
    border: 1px solid grey;
    margin: 8px 0px 12px 0px;
    font-size: 13px;
    font-weight: lighter;
  }

  .form-mar {
    width: 100%;
    border: 1px solid grey;
    margin: 8px 0px 10px 0px;
    padding: 8px 0px;
    font-size: 13px;
    font-weight: lighter;
  } 

@media (min-width : 481px) {
    .edicion-form h5 {
        font-size: 20px;
    }

    .mainEdicion .edicion-form .seguro {
        font-size: 20px;
    }

    .mainEdicion .edicion-form .botonesEdicion {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0px;
        border-top: 1px solid;
    }

    .mainEdicion .edicion-form .botonesEdicion div {
        width: 25%;
    }   
    
    form.deleteProdForm {
        width: 16.2%;
    }
    
    #imagenesExistentes {    
        max-width: 140px;
    }
        
    #fotosProd {
        width: 35px;
        padding: 0 3px;
    }
}

@media (min-width : 769px) {
    
}

