.mainEdicion {
    padding-bottom: 20px;
}

.edicion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background: #497330;
    margin: auto;
    margin-top: 15px;
    box-shadow: 7px 13px 38px #000;
    padding: 20px 30px;
    border-top: 4px solid #7FAD58;
    color: whitesmoke;
    max-width:650px;
}

.edicion-form h5 {
    width: 90%;
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 17px;
    font-style: oblique;
}

.mainEdicion .edicion-form div {
    width: 90%;
    text-align: center;
}

.mainEdicion .edicion-form input, .mainEdicion .edicion-form textarea {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 0;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #c79430;
}

.mainEdicion .edicion-form .imagenesEdicion {
    border-bottom: 1px solid;
}

.mainEdicion .edicion-form .imagenesEdicion p {
    height: 40px;
    font-size: 17px;
    font-style: oblique;
    text-align: center;
    border-top: 1px solid;
    margin: 0;
    padding-top: 16px;
}

.mainEdicion .edicion-form .categoriaEdicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.mainEdicion .edicion-form .categoriaEdicion p {
    width: 100%;
    font-size: 17px;
    font-style: oblique;
    text-align: center;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion {
    display: flex;    
    width: 33.33%;
    min-width: 110px;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion label {
    font-size: 14px;
    text-align: left;
}

.mainEdicion .edicion-form .categoriaEdicion .checkboxEdicion input[type="checkbox"] {
    width: 25px;
    text-align: left;
}

.mainEdicion .edicion-form .precioEdicion {
    padding-top: 20px;
}

.mainEdicion .edicion-form input[type="file"] {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 0;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #808080;
}

.mainEdicion .edicion-form input[type="number"] {
    width: 25%;
    min-width: 125px;
}



.mainEdicion .edicion-form .botonesEdicion {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border-top: 1px solid;
}

.mainEdicion .edicion-form .botonesEdicion div {
    width: 90%;
    margin-top: 16px;
}


.mainEdicion .edicion-form .botonesEdicion .botones {
    width: 100%;
    height: 40px;
    background-color: rgb(18, 94, 18);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    border: none;
}

.mainEdicion .edicion-form .botonesEdicion .botones:hover{
    background-color: #7FAD58;
}

.login-form p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}


@media (min-width : 481px) {
    .edicion-form h5 {
        font-size: 20px;
    }

    .mainEdicion .edicion-form p {
        font-size: 20px;
    }

    .mainEdicion .edicion-form .botonesEdicion {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0px;
        border-top: 1px solid;
    }

    .mainEdicion .edicion-form .botonesEdicion div {
        width: 18%;
    }   
    
    .mainEdicion .edicion-form .imagenesEdicion p {
        font-size: 20px;
    }
    
    .mainEdicion .edicion-form .categoriaEdicion p {
        font-size: 20px;
    }
    

}


