.mainLogin {
  position: relative;
  padding: 0;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  justify-content: center;  
}
.login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #497330;
  margin: auto;
  margin-top: 15px;
  box-shadow: 15px 25px 50px #000;
  padding: 20px 30px;
  border-top: 4px solid #7FAD58;
  color: whitesmoke;
  max-width:600px;
}
.login-form h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
  font-style: oblique;
}
.log-control {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 15px;
  padding: 11px 0;
  background: #232c1c;
  font-size: 14px;
  font-weight: lighter;
  color: #c79430;
}
.erroresLogin {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
}
.erroresLogin p.errorDatos {
  font-size: 17px;
  color: #f4db8c;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
}
.recordameLogin {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}
.recordameLogin input {
  margin: 0 0 0 10px;  
}
.botonLog {
  width: 100%;
  height: 40px;
  background-color: rgb(18, 94, 18);
  color: whitesmoke;
  margin-bottom: 16px;
  border: none;
}
.botonLog:hover{
  background-color: #7FAD58;
}
.login-form p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.login-form a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
}
.login-form a:hover {
  text-decoration: underline;
  color: #EBB54B;
}
@media(min-width: 1024px){
  .mainLogin .fondo-image{
    min-height: 500px;
  }

}
