.mainLogin {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  radial-gradient(#c657d8 0.5px, transparent 0.5px), radial-gradient(#c657d8 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  display: flex;
  min-height: 100vh;
}

.login-form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb( 0 0 0 / 30%);
  text-align: center;
}

.login-form h5 {
  font-size: 2rem;
  margin-bottom: .5em;
}

.log-control {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;

  border-bottom: 1px solid var(--color);
  font-family: 'Montserrat', sans-serif;
}

.erroresLogin {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
}

.erroresLogin p.errorDatos {
  font-size: 20px;
  color: #f4db8c;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
}

.recordameLogin {
  display: flex;
  justify-content: left;
}

.recordameLogin input {
  margin: 0 0 0 10px;  
}

.botonLog {
  background: #c79430;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 12px 15px;
  border: none;
  border-radius: .5em;
  margin: 15px;
}

.botonLog:hover{
  background-color: #efac2f;
}

.login-form .registrate , .login-form .olvideSenha {
  text-transform: none;
}

.form_link {
  font-weight: 400;
  color: #000;
}

.login-form a {
  color: black;
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
}

.login-form a:hover {
  color: #EBB54B;
}

.recordameLogin label {
  margin-left: 10px;
}


@media(min-width: 1024px){
  .mainLogin .fondo-image{
    min-height: 500px;
  }

}
