.main-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-perfil div.formPerfil {
    position: absolute;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-perfil .fondo-image {
    position: relative;
}

.registroPerfil {    
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #497330;
    margin: auto;
    margin-top: 0px;
    box-shadow: 15px 25px 50px #000;
    padding: 20px 30px 12px 30px;
    border-top: 4px solid #7FAD58;
    color: whitesmoke;
    max-width: 650px;
    top: 30px;
  
}

.registroPerfil h5 {
    margin: 0;
    text-align: center;
    height: 15px;
/*    margin-bottom: 5px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 15px;
    font-style: oblique;
}

.form-usu-perfil {
    width: 100%;
    border: 1px solid grey;
    margin: 12px 0px 2px 0px;
    padding: 8px 0px;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #c79430;
  }

.registroPerfil div.labelPerfil {
    margin: 0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
    font-size: 14px;
    font-style: oblique;
  }

  .filePerfil{
    width: 100%;
    height: 20px;
    border: 1px solid grey;
    margin: 5px 0px 18px 0px;
    padding: 8px 0px;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #808080;
  }

.main-perfil div.formPerfil .registroPerfil .form-usu {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 8px 0px;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #c79430;
    
}

.main-perfil div.formPerfil .registroPerfol {
    margin-top: 0px;
}

.main-perfil div.formPerfil .registroPerfil .botonesEdicion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.main-perfil .registroPerfil #divBotonesEdicionPerfil div {
    width: 90%;
    max-width: 250px;
    margin-top: 12px;
}

.main-perfil .registroPerfil #divBotonesEdicionPerfil .botones {
    width: 100%;
    height: 40px;
    background-color: rgb(18, 94, 18);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    border: none;
}

.main-perfil .registroPerfil #divBotonesEdicionPerfil .botones:hover{
    background-color: #7FAD58;
}

#botonDeletePerfil {
    display: flex;
    justify-content: center;
    width: 50%;
    background: #497330;
    margin: auto;
    padding: 0 30px 20px 30px;
    color: whitesmoke;
    max-width:650px;
    border: none;
}

.main-perfil .formPerfil div.botonesEdicion form.deletePerfilForm {
    margin: 0;
    padding: 0;  
    border: none;  
    width: 90%;
    max-width: 250px;
    box-shadow: none;
    border: none;
}

button.botonEliminar:hover{
    background-color: #7FAD58;
}

@media (min-width : 481px) {
    .registroPerfil h5 {
        font-size: 20px
    }

    .registroPerfil div.labelPerfil{
        font-size: 18px;
      }
}