.main-perfil {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  

  .leftPerfil, .rightPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .leftPerfil {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("/images/ninia.jpg");
    background-size: cover;
  }

  .leftPerfil .copyPerfil {
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .leftPerfil p {
    font-weight: 400;
  }

  .rightPerfil .copyPerfil {
    color: black;
    text-align: center;
    margin-top: 20px;
    height: 50%;
  }

  .rightPerfil .copyPerfil p {
    margin: 1.5em 0;
    font-size: 0.875rem;
  }

  .rightPerfil form {
    width: 328px;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="email"],
  form input[type="date"],
  form input[type="password"]
  {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  }

  label {
    display: block;
    font-size: 0.75rem;
  }

  .registroPerfil h5 {
    font-size: 15px;
    margin-bottom: .5em;
  }

  .input-container .password {
    position: relative;
  }

  p.error {
    font-size: 14px;
    color: #f4db8c;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    border: none;
    }

    #fotoPerfil {
    width: 25px;
    padding: 10px 20px 0 10px;
    }
    #imagenExistente {    
    max-width: 100px;
    }
    #archivoImagenPerfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    }



  .botones {
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  

  .botones:hover{
    background-color: #efac2f;
  }

  .botones a:hover {
    color: #EBB54B;
  }

  .botonEliminarr {
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .botonEliminarr:hover{
    background-color: #efac2f;
  }

  .botonEliminarr:hover {
    color: #EBB54B;
  }
  
  .registro a {
    color: black;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
  }
  
@media(min-width: 900px){
  .main-perfil {
    flex-direction: row;
    height: 100vh;
  }
  .leftPerfil, 
  .rightPerfil {
    display: flex;
    width: 50%;
    height: auto;
  }

}