main.mainProductos {
    display: flex;
    justify-content: center;
    
}

main.mainProductos #productTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 26px;
    font-style: oblique;
}

main.mainProductos div.galeriaProductos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main.mainProductos article.productArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
    
}

.imagenesProd {
    width: 100%;
}

.contenedorImagenProd {
    width: 100%;
    aspect-ratio: 1/1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 25px 50px #000;
}

#imagenProducto {
    width: 100%;
}

main.mainProductos article.productArticle h4 {
    text-align: center;
    margin: 0;
    padding: 10px 0 5px 0;
    color: #fff;
}

main.mainProductos article.productArticle p.precio {
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    color: #fff;
}

@media (min-width : 481px) {
    main.mainProductos article.productArticle{
        width: 24%;
    }
}

@media (min-width : 769px) {
    main.mainProductos article.productArticle{
        width: 16%;
    }
}