main.mainProductos {
    display: flex;
    justify-content: center;
    
}

main.mainProductos #productTitle {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: bold;
}

main.mainProductos div.galeriaProductos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

main.mainProductos article.productArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
    margin-bottom: 15px;
}

.imagenesProd {
    width: 100%;
}

.contenedorImagenProd {
    width: 100%;
    aspect-ratio: 1/1.20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, opacity 0.3s;

}

.contenedorImagenProd:hover {
    transform: scale(1.1);
    opacity: 1;
   
}
#linkProd {
    height: 0;
}

#imagenProducto {
    width: 100%;
    aspect-ratio: 1/1.20;
    object-fit: fill;
    margin-bottom: 5px;
}

main.mainProductos article.productArticle h4 {
    text-align: center;
    margin: 0;
    padding: 10px 0 5px 0;
    font-size: 14px;
    color: #000;
    opacity: 7; 
    animation: fade-in 0.5s ease-in-out forwards;
}
    main.mainProductos article.productArticle h4:hover {
        color: darkgrey; 
    
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main.mainProductos article.productArticle p.precio {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 0 10px 0;
    color: #000;
    opacity: 2; 
    animation: fade-in 0.5s ease-in-out forwards; 
}

main.mainProductos article.productArticle p.precio:hover {
    color: darkgrey ;

}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width : 481px) {
    main.mainProductos article.productArticle{
        width: 24%;
    }
}

@media (min-width : 769px) {
    main.mainProductos article.productArticle{
        width: 16%;
    }
}