  .main-registro {
    width: 100%;
    min-height: 900px;
    position: relative;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center; 
  }
  .divRegistro {
    position: absolute;
    top: -15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fondo-image { 
    width: 100%;
    min-height: 800px;    
  } 
    
  .registro{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #497330;
    margin: auto;
    margin-top: 25px;
    box-shadow: 10px 20px 20px #000;
    padding: 10px 20px;
    border-top: 4px solid #7FAD58;
    color: whitesmoke;
    max-width: 650px;
  
  }
  .registro h5 {
    margin: 0;
    text-align: center;
    height: 25px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    font-size: 16px;
    font-style: oblique;
  }
  .form-usu {
    width: 100%;
    border: 1px solid grey;
    margin: 8px 0px 2px 0px;
    padding: 8px 0px;
    background: #232c1c;
    font-size: 14px;
    font-weight: lighter;
    color: #c79430;
  }

  .registro div.labelRegistro {
    margin: 0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-style: oblique;
  }
  input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  
  input[type="file"]::-ms-browse:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }

  .fileRegistro{
    width: 100%;
    border: 1px solid grey;
    margin: 5px 0px 5px 0px;
    padding: 8px 0px;
    background: #232c1c;
    font-size: 13px;
    font-weight: lighter;
    color: #808080;
  }

  #hContrasenia {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  p.error {
    color: #c79430;
    padding:0px;
    margin: 15px;
    font-size: 14px;
  }
  
  .is-invalid {
    border: 1px solid red    ;
  }
  .is-valid {
    border:  1px solid lightgreen;
  }
  
  .botEnter {
    width: 100%;
    height: 25px;
    background-color: rgb(18, 94, 18);
    border: none;
    color: whitesmoke;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  
  .botEnter:hover {
    background-color: #7FAD58;
  }


@media(min-width: 1024px){
  .main-registro .fondo-image{
    min-height: 600px;
  }
  .registro h5 {
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 14px;
    
   
  }


}

  
  
  
  
  
  