  .main-registro {
    display: flex;
    flex-direction: column;
    
  }

  .leftRegister {
    height: 200px;
  }

  .leftRegister, .rightRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .leftRegister {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("/images/imagenBanner2.jpg");
    background-size: cover;
  }

  .leftRegister .copyRegister {
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .leftRegister p {
    font-weight: 400;
  }

  .rightRegister .copyRegister {
    color: black;
    text-align: center;
    margin-top: 20px;
  }

  .rightRegister .copyRegister p {
    margin: 1.5em 0;
    font-size: 0.875rem;
  }

  .rightRegister form {
    width: 328px;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="email"],
  form input[type="date"],
  form input[type="password"]
  {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  }

  label {
    display: block;
    font-size: 0.75rem;
  }

  .registro h5 {
    font-size: 2rem;
    margin-bottom: .5em;
  }

  .input-container .password {
    position: relative;
  }

  p.error {
    font-size: 14px;
    color: #f4db8c;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    border: none;
  }

  .botEnter {
    display: block;
    width: 100%;
    background: #EBB54B;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }

  .botEnter:hover{
    background-color: #efac2f;
  }

  .registro a {
    color: black;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
  }

  .registro a:hover {
    color: #EBB54B;
  }

@media(min-width: 900px){
  .main-registro {
    flex-direction: row;
  }
  .leftRegister, 
  .rightRegister {
    display: flex;
    width: 50%;
    height: auto;
  }

  .rightRegister{
    margin-bottom: 40px;
  }

}

  
  
  
  
  
  