@import'register.css';

@import 'carrito.css';

@import 'edicion.css';

@import 'footer.css';

@import 'productos.css';

@import 'login.css';

@import 'perfiles.css';



/*-----------------------------------------------*/

/* ---------------------------------------------------------
Paleta de colores:  verde claro   #C9F4B0
                    verde medio claro  #7AB35B
                    verde medio oscuro   #7FAD58
                    verde oscuro   #497330
                    ocre    #EBB54B


-----------------------------------------------------------*/

body {
    width: 100%;
    margin: 0;
    font-family: 'Ubuntu' , sans-serif;
}



main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7AB35B;
}

/* ----------------------HEADER--------------------------*/

header {
    width: 100%;
    background: linear-gradient(to bottom, #C9F4B0, #073521);
    display: flex; 
    justify-content: space-between; 
}

header .opciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;   
    padding-right: 2%; 
    width: 70%;
}

header .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 1% 0 1% 0;
}

header .logo-header .logotipo {    
    width: 50px;
    height: 50px;   
    background-color: transparent;
    background-image: url("/images/animacion logo 1.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat 0px -40px;
    left: 0;
    animation: movimiento 0.8s steps(11) infinite alternate both; 
}

@keyframes movimiento {
    0% {background-image: url("/images/animacion-logo-1.jpg");}
    10% {background-image: url("/images/animacion-logo-1bis.jpg");}
    20% {background-image: url("/images/animacion-logo-2.jpg");}
    30% {background-image: url("/images/animacion-logo-2 bis.jpg");}
    40% {background-image: url("/images/animacion-logo-3.jpg");}
    50% {background-image: url("/images/animacion-logo-3bis.jpg");}
    60% {background-image: url("/images/animacion-logo-4.jpg");}
    70% {background-image: url("/images/animacion-logo-4bis.jpg");}
    80% {background-image: url("/images/animacion-logo-5.jpg");}
    90% {background-image: url("/images/animacion-logo-5bis.jpg");}
    100% {background-image: url("/images/animacion-logo-6.jpg");}
}


.oculto {
    display: none;
}

header .opciones .log-cart {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    justify-content: end;
    font-size: 20px;
/* ******************************************* */
    position: relative; 
/* ******************************************* */     
}

header .opciones .log-cart a {
    color: #000; 
    padding: 0 5%;   
}

header .opciones .log-cart a:hover {
    color: #EBB54B;
}

.usuarioLogueado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#saludo {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin: 0;
    min-width: 40px;
    padding: 0 2px;
}

#imgAvatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div#saludoLog {
    display: flex;
    min-height: 42px;
    margin: 0;
    padding-left: 2px;
}
#saludo a {
    text-decoration: none;
}

#userPerfil {
    display: flex;
    flex-direction: column;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
/*    border: 1px;
    border-style: solid;
    border-color:#000;
    border-radius: 10px;*/
/*    background-color: whitesmoke; */
    margin: 2px;
}



#userPerfil a {
    text-decoration: none;
    padding: 0 5px 0 5px;
    color: #000;
}

#userPerfil a:hover {
    color:#EBB54B;
}



/* ******************************************* */
header .opciones .log-cart #productosCargaEdicion {
    display: flex;    
    position: absolute;
    left: -50px;
    font-size: 18px;
   
}

header .opciones .log-cart #productosCargaEdicion i.fa-square-plus {
    padding-top: 3px;
}

header .opciones .log-cart #productosCargaEdicion i{
    color: #EBB54B;
    padding-left: 3px;
    padding-right: 3px;
}

/* ******************************************* */


header .opciones .menu-buscador {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .opciones .menu-buscador .burger-menu {
    padding-right: 3%;  
    padding-left: 3%;  
}

#logo-burguer {
    font-size: 22px;
}

header .opciones .menu-buscador .area-buscar {
    display: flex;
    padding-left: 4%;
    width: 100%;
    max-width: 250px;
    position: relative;
}

header .opciones .menu-buscador #buscar {
    width: 100%;
    height: 15px;
    font-size: 12px;
    border: solid 1px #000;
    border-radius: 3px;
    font-family: Ubuntu;
    font-weight: 400;
    content: "\f002";
    background-color: transparent;
    
}

#buscar::placeholder{
    color: #000;
}

header .opciones .menu-buscador .area-buscar .buscador {
    position: absolute;
    display: inline-block;
    top: 1.8px;
    right: -3px;
    font-size: 10px;  
    padding-right: 2.5%;  
    background-color: transparent;
}

header .opciones .menu-buscador .area-buscar .buscador .botonLupa {
    border: none;
    padding: 0;
    background-color: transparent;
}


#logo-lupa {
    font-size: 12px;
    padding: 1px;
    border: solid 1px #000;
    background-color: transparen;
    border-radius: 3px;    
}


main {
    width: 100%;
    display: flex;
    /*background: linear-gradient(to bottom,#141F00, );*/
    background-color: #283F2C;
}

main section {  
    justify-items: center;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-----------------------------------------------------*/

/* ---------------seccion carrousel -----------------*/

main section .carrousel {
    width: 100%;
    height: 35vw;
    border: solid 1px #000;
    display: flex;
    /*justify-content: space-evenly;*/
    overflow: hidden;
}

main section .carrousel img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}

main section .controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid 1px #000;*/
    width: 100%;
    margin-top: 10px;
}
main section .atras-adelante {
    font-size: 18px;
    cursor: pointer;
}
/*
main section .atras-adelante {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;*/
main section .circulo {
        width: 8px;
        height: 8px;
        border: solid 1.5px #000;
        border-radius: 50%;
        margin: 0 6px;
        cursor: pointer;
        background-color: transparent;
}
/*
main section .circulo {
    width: 1.2vw;
    height: 1.2vw;
    border: solid 2px #000;
    border-radius: 10vw;
    margin: auto 10px;
}*/

main section .enfocado {
    background-color: #000;
}

/*-----------------------------------------------------*/

/*------------------------galeria----------------------*/

main section .posicion {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.rubros, .generoEdad {
    width: 98%;
/*    background-image: url("/images/trekking.jpg"); */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;      
}
 
.generoEdad {
    padding-bottom: 0;
}

.camperasYBuzos, .pantalonesYShorts, .zapatillasYBotas, .carpasYBolsas, .mochilasYBolsos, .accesorios  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 38%; 
    padding: 4% 0;  
    position: relative; 
}

.camperasYBuzos h4,.camperasYBuzos h4, .pantalonesYShorts h4, .zapatillasYBotas h4, .carpasYBolsas h4, .mochilasYBolsos h4, .accesorios h4  {
    position: absolute;
    top: 35%;
    text-align: center;
    max-width: 80%;
    color: whitesmoke;
    text-shadow: 3px 3px 7px #000;
    font-weight: 500; 
    font-size: 12px;    
}

.camperasYBuzos a, .pantalonesYShorts a, .zapatillasYBotas a, .carpasYBolsas a, .mochilasYBolsos a, .accesorios a {
    width: 100%;
}


.camperasYBuzos img, .pantalonesYShorts img, .zapatillasYBotas img, .carpasYBolsas img, .mochilasYBolsos img, .accesorios img {    
    width: 100%;
/*    height: 40vw;  */
    aspect-ratio: 1.1/1;
    object-fit: cover;
    padding: 0;
    box-shadow: 1vw 1vw 1vw #000;     
}

.hombre, .mujer, .ninios {
    display: flex;
    justify-content: center;
    width: 28%; 
    padding: 4vw 0; 
    position: relative;  
}

.hombre img, .mujer img, .ninios img {
    width: 100%;
/*    height: 25vw;   */
/*    aspect-ratio: 1.1/1;*/
    padding: 0;
    box-shadow: 1vw 1vw 1vw #000;
}

.hombre h4, .mujer h4, .ninios h4 {
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    text-shadow: 3px 3px 7px #000;
    font-size: 12px;
    font-weight: 500;
}
.camperasYBuzos img,
.pantalonesYShorts img,
.zapatillasYBotas img,
.carpasYBolsas img,
.mochilasYBolsos img,
.accesorios img,
.hombre img,
.mujer img,
.ninios img {
    width: 100%;
    height: 40vw;
    padding: 0;
    box-shadow: 1vw 1vw 1vw #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.camperasYBuzos img:hover,
.pantalonesYShorts img:hover,
.zapatillasYBotas img:hover,
.carpasYBolsas img:hover,
.mochilasYBolsos img:hover,
.accesorios img:hover,
.hombre img:hover,
.mujer img:hover,
.ninios img:hover {
    transform: scale(1.1); 
    box-shadow: 1vw 1vw 2vw #000; 
}
.camperasYBuzos img,
.pantalonesYShorts img,
.zapatillasYBotas img,
.carpasYBolsas img,
.mochilasYBolsos img,
.accesorios img,
.hombre img,
.mujer img,
.ninios img {
    width: 100%;
    height: 40vw;
    padding: 0;
    box-shadow: 1vw 1vw 1vw #000;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.camperasYBuzos img:hover,
.pantalonesYShorts img:hover,
.zapatillasYBotas img:hover,
.carpasYBolsas img:hover,
.mochilasYBolsos img:hover,
.accesorios img:hover,
.hombre img:hover,
.mujer img:hover,
.ninios img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    opacity: 0.8; 
}



/*-----------------------------------------------*/

/* -------------- productos.html --------------------*/

.productos {
    width: 95%;  
    margin: auto;      
}

.productos .productos-rubros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

.productos .productos-rubros div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

.productos .productos-rubros div a img{
    width: 95%;
}



/* ------------------------------------------------*/



/* -------------- producto.html --------------------*/

.producto {
    width: 100%;  
    margin: auto;   
    background-color: #7FAD58;  
    padding-bottom: 15px; 
}

.producto .producto-elejido {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.producto .producto-elejido div {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#encabezadoProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto .producto-elejido div .producto-imagenes {
    margin: 0 0 25px 0;
}

.producto .producto-elejido h3 {
    font-size: 30px;
    font-style: oblique;
    color: white;
    margin: 0;
}

.producto .producto-elejido p {
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
}

.producto .producto-elejido div img{
    width: 33%;
    box-shadow: 10px 20px 40px #000;
}

.producto .producto-elejido .producto-info {
    width: 51%;
    background-color: #C9F4B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 7px 10px #000;
    margin-bottom: 10px;
}

.producto .producto-elejido .producto-boton {
    width: 70%;
    height: 40px;
    background-color: rgb(18, 94, 18);
    color: whitesmoke;
    margin-bottom: 16px;
    border: none;
    font-size: 16px;
}

article div .producto-info button.producto-boton:hover {
    background-color: #c79430;
}
   

.producto .producto-elejido .producto-descripcion {
    background-color: #497330;
    width: 51%;
    text-align: center;
    margin: 10px 0;
    box-shadow: 10px 7px 10px #000;
}

.producto .producto-elejido .producto-descripcion h3 {
    font-size: 20px;
    color: whitesmoke;
    font-style: oblique;
}

.producto .producto-elejido .producto-descripcion ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.producto .producto-elejido .producto-descripcion ul li {  
    list-style: none;
    width: 42%;
    min-width: 110px;
    color: whitesmoke;
}

.whatsapp-div {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    background-color: #fff;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.whatsapp-logo {
    color: green;
    font-size: 35px;
}

/* ------------------------------------------------*/

@media (min-width : 481px) {
    header {
        justify-content: space-between;
    }

    header .logo-header a {
        width: 100%;
        max-width: 95px;
        aspect-ratio: 1/1;
    }

    header .logo-header .logotipo {    
        width: 100%;
        height: 100%;
    }

    header .opciones {
        width: 75%;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
    }

    header .opciones .log-cart {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 40%;
        max-width: 180px;
        padding: 1.5% 0  0 0;    
    }

    .usuarioLogueado {
        width: 70%;
    }

    /* ******************************************* */
    header .opciones .log-cart #productosCargaEdicion {
        bottom: -45px;
        left: unset;
        right: 5px;
    }

    /* ******************************************* */



    header .opciones .menu-buscador {
        width: 50%;  
        padding: 2% 0  0 0;  
        flex-direction: column-reverse; 
        align-items: center; 
        justify-content: space-between;  
    }
    
    header .opciones .menu-buscador .area-buscar {
        align-self: flex-start;
    }

    .oculto {
        display: flex;
    } 

    header .opciones .menu-buscador nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 1% 0 1% 0;
    }

    header .opciones .menu-buscador nav ul {
        margin: 0;
        padding: 1% 0 0 5%;
    }

    header .opciones .menu-buscador nav ul li {
        list-style-type: none;
        font-size: 14px;        
    }

    header .opciones .menu-buscador nav ul li a {
        color: #000;
        text-decoration: none;
    }

    header .opciones .menu-buscador .burger-menu {
        display: none;    
    }

    main section .carrousel {
        max-height: 220px;
        justify-content: center;
    }

    .camperasYBuzos, .pantalonesYShorts, .zapatillasYBotas, .carpasYBolsas, .mochilasYBolsos, .accesorios  {
        width: 28%;  
    }

/*    .camperasYBuzos img, .pantalonesYShorts img, .zapatillasYBotas img, .carpasYBolsas img, .mochilasYBolsos img, .accesorios img {    
        height: 20vw;           
    }
*/
    .camperasYBuzos h4,.camperasYBuzos h4, .pantalonesYShorts h4, .zapatillasYBotas h4, .carpasYBolsas h4, .mochilasYBolsos h4, .accesorios h4  {
        top: 40%;
    }

    .hombre img, .mujer img, .ninios img {        
/*        height: 70%;    */
        width: 100%;
        aspect-ratio: 1.2/1;
    }

    .generoEdad {
        padding-bottom: 0;
    }
    
    .hombre, .mujer, .ninios {
/*        width: 25%;  */
        justify-content: space-evenly;
    } 

    .hombre h4, .mujer h4, .ninios h4 {
        top: 33%;
    }

}

@media (min-width : 769px) {
    header .logotipo {    
        width: 100px;
        height: 100px;
    }

    .rubros {
        justify-content: space-between;
    }

    header .opciones {
        padding-top: 1%;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }

    header .opciones .log-cart {
        position: absolute;

        max-width: 180px;
    }

    header .opciones .menu-buscador {
        width: 100%;
    }

    header .opciones .log-cart #productosCargaEdicion {
        bottom: 20px;
        right: 220px;
    }

    header .opciones .menu-buscador nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 5px;
    }

    header .opciones .menu-buscador nav ul li {
        font-size: 17px;        
    }

    .camperasYBuzos, .pantalonesYShorts, .zapatillasYBotas, .carpasYBolsas, .mochilasYBolsos, .accesorios  {
        width: 14.5%; 
        height: 70%; 
        padding-bottom: 0;
        margin-bottom: 15%;
    }

    .camperasYBuzos img, .pantalonesYShorts img, .zapatillasYBotas img, .carpasYBolsas img, .mochilasYBolsos img, .accesorios img {    
        height: 90%;           
    }

    .camperasYBuzos h4,.camperasYBuzos h4, .pantalonesYShorts h4, .zapatillasYBotas h4, .carpasYBolsas h4, .mochilasYBolsos h4, .accesorios h4  {
        top: 30%;   
    }    

    .hombre img, .mujer img, .ninios img {        
        height: 100%;      
    }

    .hombre, .mujer, .ninios {
        width: 20%; 
        height: 75%;
        padding-top: 0;
        margin-bottom: 15%;
    }

    .hombre h4, .mujer h4, .ninios h4 {
        justify-content: space-evenly;
        top: 35%;
    }

}






