<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div>
            <img class= "banner" src="/images/banner.jpg" alt="banner" > 
        </div>
        <div class="marcas">
            <img class="tnf logos_marcas" src="/images/thenorthface.jpg">
            <img class="montagne logos_marcas" src="/images/logo-montagne.jpg">
            <img class="ansilta logos_marcas" src="/images/ansiltaLogo.jpg">
            <img class="burton logos_marcas" src="/images/burton.png">
            <img class="mammut logos_marcas" src="/images/mammut.png">
        </div>
        <section>
            <article class="rubros">
                <div class="camperasYBuzos">
                    <a href="/product/productos/abrigos"><img src="/images/camperaParka.jpg"></a>                    
                    <h4>CAMPERAS Y BUZOS</h4>
                </div> 
                <div class="pantalonesYShorts">
                    <a href="/product/productos/pantalones"><img src="/images/pantalonyshorts.jpg"></a>
                    <h4>PANTALONES Y SHORTS</h4>
                </div>
                <div class="zapatillasYBotas">
                    <a href="/product/productos/calzado"><img src="/images/zapatillas.jpg"></a>                    
                    <h4>ZAPATILLAS Y BOTAS</h4>
                </div> 
                <div class="carpasYBolsas">
                    <a href="/product/productos/camping"><img src="/images/carpas.jpg"></a>                    
                    <h4>CARPAS Y BOLSAS DE DORMIR</h4>
                </div>
                <div class="mochilasYBolsos">
                    <a href="/product/productos/mochilas"><img src="/images/mochilas.jpg"></a>                    
                    <h4>MOCHILAS Y BOLSOS</h4>
                </div> 
                <div class="accesorios">
                    <a href="/product/productos/accesorios"><img src="/images/accesorios1.jpg"></a>                    
                    <h4>ACCESORIOS</h4>
                </div>             
            </article>
            <h2 class="tituloGeneros">GENEROS</h2>
            <article class="generoEdad">
                <div class="hombre">
                    <a href="/product/productos/hombre"><img src="/images/ropaHombre.jpg"></a>                    
                    <h4>HOMBRES</h4>
                </div> 
                <div class="mujer">
                    <a href="/product/productos/mujer"><img src="/images/mujer.jpg"></a>                    
                    <h4>MUJERES</h4>
                </div>
                <div class="ninios">
                    <a href="/product/productos/ninios"><img src="/images/ninia.jpg"></a>                    
                    <h4>NIÑOS</h4>
                </div>                            
            </article>  
        </section>
        <div class="whatsapp-div">
            <a class="whatsapp-logo" href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </main>
    <%- include('partials/footer') %>  
</body>
</html>