<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <div class="carrousel">
                <img src= "\images\escaladajpg.jpg" alt="Escalada">
                <img src= "\images\montanismojpg.jpg" alt="Montañismo">
                <img src= "\images\trekking.jpg" alt="Trekking">
            </div>
            <div class="controles">
                <div class="atras-adelante">
                    <i id="logo-izquierda" class="fa-solid fa-angle-left"></i>
                </div>
                <div class="posicion">
                    <div class="circulo">
                    </div>
                    <div class="circulo">    
                    </div>
                    <div class="circulo enfocado">    
                    </div>
                    <div class="circulo">    
                    </div>
                    <div class="circulo">    
                    </div>
                </div>  
                <div class="atras-adelante">
                    <i id="logo-derecha" class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </section>
        <section>
            <article class="rubros">
                <div class="camperasYBuzos">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>CAMPERAS Y BUZOS</h4>
                </div> 
                <div class="pantalonesYShorts">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>
                    <h4>PANTALONES Y SHORTS</h4>
                </div>
                <div class="zapatillasYBotas">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>ZAPATILLAS Y BOTAS</h4>
                </div> 
                <div class="carpasYBolsas">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>CARPAS Y BOLSAS DE DORMIR</h4>
                </div>
                <div class="mochilasYBolsos">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>MOCHILAS Y BOLSOS</h4>
                </div> 
                <div class="accesorios">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>ACCESORIOS</h4>
                </div>             
            </article>
            <article class="generoEdad">
                <div class="hombre">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>HOMBRES</h4>
                </div> 
                <div class="mujer">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>MUJERES</h4>
                </div>
                <div class="ninios">
                    <a href="producto"><img src="\images\escaladajpg.jpg"></a>                    
                    <h4>NIÑOS</h4>
                </div>                            
            </article>  
        </section>
        <div class="whatsapp-div">
            <a class="whatsapp-logo" href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </main>
    <%- include('./partials/footer') %>  
</body>
</html>