<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href = "/css/styles.css" rel = "stylesheet"> 
    <title>PATAGONIC</title>
    <link rel="shortcut icon" href="/images/Logo-Patagonic-sin-fondo.jpg">
</head>
<body>
    <header>
        <div class="logo-header">
            <a href="/">
                <div class= "logotipo">
                    
                </div>   
            </a>            
        </div>        
        <div class="opciones">
            <div class="log-cart">
                <a href = "registro"><i class="fa-solid fa-id-card"></i></a>                
                <a href="login"><i class="fas fa-user"></i></a>
                <a href = "carrito"><i class="fas fa-shopping-cart"></i></a> 
                                
                <!--    *******************************************   -->
                <div id="productosCargaEdicion">
                    <a href = "edicion"><i class="fa-regular fa-square-plus"></i></a>
                    <a href = "edicion"><i class="fa-regular fa-pen-to-square"></i></a>
                </div>

                <!--    *******************************************   -->       
                               
            </div>

            <div class="menu-buscador">
                <nav class="oculto">
                    <ul>
                        <li>
                            <a href = "/">Inicio</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href = "#">Productos</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href = "#">Promos y Cuotas</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href = "/empresas" target="_blank">Empresa</a>
                        </li>
                    </ul>
                </nav>
                <div class="burger-menu visible">
                    <i id="logo-burguer" class="fas fa-bars visible"></i>
                </div>
                <form class="area-buscar" action="" method="get" >
                    <input id="buscar" type="search" name="aBuscar" placeholder="Buscar producto">
                    <div class="buscador">
                        <button class="botonLupa" type="submit"><i id="logo-lupa" class="fa-solid fa-magnifying-glass"></i></button>                        
                    </div>                    
                </form>                  
            </div>
        </div>       
    </header> 
    <body>
        <main class="mainLogin">
            <form class="login-form" action="" method="" >
                <h5>Patagonic</h5>
                <input class="log-control" type="email" name="email" value="" placeholder=" Email">
                <input class="log-control" type="password" name="password" value="" placeholder=" Password">
                <button class="botonLog" type="submit" name="ingresar" value="Ingresar">Ingresar</button>
                <p class="registrate"><a href="/registro">Registrate aqui</a></p>
                <p class="olvideSenha"><a href="#">¿Olvidaste tu contraseña?</a></p>
            </form>
        </main>
        <footer>
            <div class="footer-mitad izquierda">
                <section class="legales">
                    <a href="#">POLITICAS DE PRIVACIDAD</a>
                    <a href="#">TERMINOS Y CONDICIONES</a>
                    <a href="#">POLITICAS DE GARANTIA Y DEVOLUCIONES</a>
                </section>
                <section class="servicios-cliente">
                    <h5>SERVICIOS AL CLIENTE</h5>
                    <div class="detalle-servicios">
                        <div>
                            <a href="#">CENTRO DE AYURA  <i class="fa-solid fa-headset"></i></a>
                            <a href="#">ENVIOS  <i class="fa-solid fa-truck-fast"></i></a>
                        </div>
                        <div>
                            <a href="#">METODOS DE PAGO  <i class="fa-regular fa-credit-card"></i></a>                
                            <a href="#">CAMBIOS Y DEVOLUCIONES  <i class="fa-solid fa-shirt"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="footer-mitad derecha">
                <section class="redes">
                    <h5>REDES SOCIALES</h5>
                    <div class="detalle-redes">                
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>                
                            <a href="#"><i class="fab fa-twitter-square"></i></a>                
                            <a href="#"><i class="fab fa-pinterest-square"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </section>
                <section class="contactos">
                    <h5>CONTACTENOS</h5>
                    <div class="detalle-contactos">                
                            <a href="#"><i class="fa-solid fa-square-phone"></i>   +54 9 11 1234-5678</a>
                            <a href="#"><i class="fa-solid fa-envelope"></i>   info@patagonic.com.ar</a>                
                            <a href="#">COMPRA POR WHATSAPP    <i class="fa-brands fa-whatsapp"></i></a> 
                    </div>
                </section>
            </div>
            
            <section class="copyright">
                <p>   Copyright © 2023-2027 PATAGONIC</p>            
            </section> 
        </footer>           
    </body>
</html>