<footer>
        <section class="legales">
            <a href="#">POLITICAS DE PRIVACIDAD</a>
            <a href="#">TERMINOS Y CONDICIONES</a>
            <a href="#">POLITICAS DE GARANTIA Y DEVOLUCIONES</a>
        </section>        
        <section class="redes">
            <h5>REDES SOCIALES</h5>
            <div class="detalle-redes">                
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>                
                    <a href="#"><i class="fab fa-twitter-square"></i></a>                
                    <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </section>
        <section class="contactos">
            <h5>CONTACTENOS</h5>
            <div class="detalle-contactos">                
                    <a href="#"><i class="fa-solid fa-square-phone"></i> +54 9 11 1234-5678</a>
                    <a href="#"><i class="fa-solid fa-envelope"></i> info@patagonic.com.ar</a>                
                    <a href="#">COMPRA POR WHATSAPP  <i class="fa-brands fa-whatsapp"></i></a> 
            </div>
        </section>
    </div>    
    <section class="copyright">
        <p>   Copyright © 2023-2027 PATAGONIC</p>            
    </section> 
</footer>   