<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-links">
                <h4>Compañía</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    
                </ul>
            </div>
            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas</a></li>
                    <li><a href="#">Compras</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Pago</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Tienda</h4>
                <ul>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Zapatos</a></li>
                    <li><a href="#">Camping</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Síguenos!</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>