<header>
    <div class="logo-header">
        <a href="/">
            <div class= "logotipo">
                
            </div>   
        </a>            
    </div>        
    <div class="opciones">
        <div class="log-cart">
            <a href = "/product/carrito"><i class="fas fa-shopping-cart"></i></a> 
            <% if(!locals.isLogged) { %>
                <a href = "/user/registro"><i class="fa-solid fa-id-card"></i></a>                
                <a href="/user/login"><i class="fas fa-user"></i></a>
            <%}%>
            
            <!--    *******************************************   -->
            <% if(locals.isLogged) {%> 
                <div class="usuarioLogueado">
                    <div id = "saludo">  
                        <img id = "imgAvatar" src="/images/<%= locals.userLogged.imagen%>" >               
                        Hi <%= locals.userLogged.nombre %>
                    </div>
                    <div id="userPerfil" >
                        <a href = "/user/perfil">Perfil</a>
                        <a href = "/">Logout</a>
                    </div>
                </div>
            <%}%>

            <!--    *******************************************   -->
            <% if(locals.isLogged && locals.userLogged.categoria == "administrador") {%> 
                <div id="productosCargaEdicion">
                    <a href = "/product/creacion"><i class="fa-regular fa-square-plus"></i></a>
                    <a href = "/product/edicion"><i class="fa-regular fa-pen-to-square"></i></a>
                </div>
            <%}%>

            <!--    *******************************************   -->       
            
        </div>

        <div class="menu-buscador">
            <nav class="oculto">
                <ul>
                    <li>
                        <a href = "/">Inicio</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href = "/product/productos">Productos</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href = "#">Promos y Cuotas</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href = "/empresas" target="_blank">Empresa</a>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu visible">
                <i id="logo-burguer" class="fas fa-bars visible"></i>
            </div>
            <div class="area-buscar">
                <input id="buscar" placeholder="Buscar producto">
                <div class="buscador">
                    <i id="logo-lupa" class="fa-solid fa-magnifying-glass"></i>
                </div>                    
            </div>                  
        </div>
    </div>       
</header> 