<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="mainLogin">
            <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
            <form class="login-form" action="/user/login" method="post" >
                <h5>Patagonic</h5>
                <input class="log-control" type="email" name="email" value="" placeholder=" Email">
                <input class="log-control" type="password" name="contrasenia" value="" placeholder=" Password">
                <button class="botonLog" type="submit" name="ingresar" value="Ingresar">Ingresar</button>
                <label for="cookie">Recordarme</label>
                <input type="checkbox" name="cookie" id="cookie"> 
                <p class="registrate"><a href="/user/registro">Registrate aqui</a></p>
                <p class="olvideSenha"><a href="#">¿Olvidaste tu contraseña?</a></p>
            </form>
        </main>
        <%- include('../partials/footer') %>           
    </body>
</html>