<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="mainLogin">
            <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
            <form class="login-form" action="/user/login" method="post" >
                <h5>Patagonic</h5>
            <div>
                <input class="log-control" type="email" name="email" value="" placeholder=" Email">
                <p id="errorEmail"  class="error"></p>
            </div> 
            <div>
                <input class="log-control" type="password" name="contrasenia" value="" placeholder=" Password">
                <p id="errores"  class="error"></p>
            </div>
                <div class="recordameLogin">
                    <label for="cookie">Recordarme</label>
                    <input type="checkbox" name="cookie" id="cookie"> 
                </div>
                <div class="erroresLogin">
                    <% if(locals.errors && errors.datosMal) { %>
                        <p class="errorDatos"> <%= errors.datosMal.msg %> </p>
                        <% } %>
                </div>
                <button class="botonLog" type="submit" name="ingresar" value="Ingresar">Ingresar</button>                
                <p class="registrate"><a href="/user/registro">Registrate aqui</a></p>
                <p class="olvideSenha"><a href="#">¿Olvidaste tu contraseña?</a></p>
            </form>
        </main>
        <%- include('../partials/footer') %>  
        <script src="/js/login.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>         
    </body>
</html>