<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="./images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <form class="registro" action="" method="">
          
                <h5>Registro de Usuario</h5>
                        
                <div>
                    <input class="form-usu" type="text" name="Nombre" value= "" placeholder="  Nombre"> 
                </div>
                <div> 
                    <input class="form-usu" type="text" name="Apellido" value= "" placeholder="  Apellido">
                </div>
                <div> 
                    <input class="form-usu" type="email" name="Email" value= "" placeholder="  email@gmail.com">
                </div> 
                    <div>
                <h5>Ingresar Contraseña</h5> 
            
                <div> 
                    <input class="form-usu" type="password" name="contrasenia"  value="" placeholder="  Contraseña">
                </div> 
                <div>
                    <input class="form-usu" type="password" name="confirm-contrasenia"  value= "" placeholder="  Confirmar contraseña">
                </div>
                </div> 
                    <a href="#"> <button class="botEnter" type="submit">Registrarse</button> </a>
                </div>
              
            </form>
        
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      